<section>
  <h1>Tiempo restante: {{tiempo}}</h1>

  <button (click)="iniciarTiempo()">Empezar</button>
</section>

<p>Numero clicks: {{total_cliks}}</p>



<div class="ranking">
  <div *ngFor="let cada_usuario of lista_usuarios" class="cadaUno">
    <div>
      {{ cada_usuario.name }}
    </div>
    <div>
      {{ cada_usuario.n_clicks }}
    </div>
  </div>
</div>


<button class="boton" (click)="sumar()">
  <img src="/assets/hanabi_cooki.png" alt="imagen_hanabi">
</button>


<div *ngIf="modal" class="modal-overlay" (click)="cerrarModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <!-- Encabezado -->
    <div class="modal-header">
      <h2>Escribe tu nombre</h2>
      <button class="close-btn" (click)="cerrarModal()">&times;</button>
    </div>

    <div class="modal-body">
      <div>
        <p>Nº de clicks</p> {{total_cliks}}
      </div>

      <div>
        <label>Nombre:</label>
        <input type="text"[(ngModel)]="nombreGuardar" placeholder="Escribe tu nombre">
      </div>

    </div>

    <div class="modal-footer">
      <button (click)="cerrarModal()">Cancelar</button>
      <button (click)="guardarUsuario()">
        Guardar
      </button>
    </div>
  </div>


